 .border{
    background-color: brown;
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
    
}
ol{
    box-shadow: 20px 100px;
    font-family: 'Times New Roman', Times, serif;
}
